label { margin-right: 20px;
}
header {
    margin-top: 80px;
}
button[type="submit"] {
    margin-top: 10px;
    font-family: rowdies;
    
}
h1, h2, h3 {
    font-family: "rowdies";
}   
form{
    padding: 20px;
    background-color: rgb(204, 243, 245);
}
image {
    width: 95%;

    margin-top: 70px; 
}
.card {
    margin-top: 10px;
}
.btn_wsp{
    position: fixed;
    width: 66px;     
    height: 66px;    
    line-height: 66px;
    bottom: 30px;
    right: 30px;
    background-color: #25D366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 36px; 
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}
i{margin: 5px;}
.navbar{
    font-size: larger;
    font-weight: bold;
}
.sitio_inicio{
    font-size: 500%;
    font-weight:bold;
}