label { margin-right: 20px;
}
header {
    margin-top: 80px;
}
button[type="submit"] {
    margin-top: 10px;
    font-family: rowdies;
    
}
h1, h2, h3 {
    font-family: "rowdies";
}   
form{
    padding: 20px;
    background-color: #b8cadb;
}
.card {
    margin-top: 10px;
    margin-left: 20px;
}
.btn_wsp{
    position: fixed;
    width: 66px;     
    height: 66px;    
    line-height: 66px;
    bottom: 30px;
    right: 30px;
    background-color: #25D366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 36px; 
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}
i{margin: 5px;}
.navbar{
    font-size: larger;
    font-weight: bold;
}
.sitio_inicio{
    font-size: 500%;
    font-weight:bold;
}

<!--sliderrr-->

.slider-wrapper {
    position: relative;
    max-width: 40%; /* Aumenta el ancho para que sea visible junto al card */
    margin: 0;      /* Elimina el centrado automático */
    float: left;    /* Posiciona el slider a la izquierda */
}
.slider {
    display: flex;
    overflow-x: auto;
    aspect-ratio: 10/9;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 1.0rem;
    position: relative;
    bottom: 2rem;
    left: 50%;
    z-index: 1;
}
.slider-nav a {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover {
    opacity: 1;
}
